{
  "presets": ["es2015", "stage-1"],
  "ignore": [
    "*.svg"
  ],
  "plugins": [
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }],
    ["babel-root-import", {
      "rootPathPrefix": "~",
      "rootPathSuffix": "dist"
    }]
  ]
}
